$aisBlue: #0262aa;
$aisLightBlue: #80afd6;
$aisWhite: #fefefe;
$aisBlueFocus: #074972;
$aisBlueHover: #03508A;
$aisError: #A72424;
$aisCharcoal: #595959;
$aisOrange: #BF511D;

$aisDisabledWhite: #e9ecef;

$aisGrey: #F8F8F8;

$aisSuccessGreen: #507636;
$aisErrorRed: #B43523;